<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Python Belt Exam - Quotes by User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- <style>
        table, th, td {
            border: 1px solid black;
        }
    </style> -->
            
</head>
<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm">

                <div class="container">    
                    <div class="row">
                        <div class="col-8">
                            <h2>{{showuser.firstname}} {{showuser.lastname}}'s Quotes</h2>
                        </div>
                        <div class="col-2">
                            <p><a class="btn btn-info" href="/quotes/">Back</a></p>
                        </div>
                        <div class="col-2">
                            <p><a  class="btn btn-danger" href="/logout/">Logout</a></p>
                        </div>
                    </div>
                </div>

                {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                    <p>{{ message }}</p>
                    {% endfor %}
                </div>
                {% endif %}
        
                <div class="col-5">
                    <h4>Quotes:</h4>
                        {% if allquotes %}
                        {% for q in allquotes reversed %}
                            <div class="container border">
                                <p>{{q.author}}: "{{q.text}}"</p>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>

            </div>
        </div>
    </div>


</body>
</html>
