<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <!-- BOOTSTRAP: The above 3 meta tags *must* come first in the head; 
    any other head content must come *after* these tags -->

    <title>Dojo Survey</title>

    <!-- linking a css style sheet -->
    <!-- Each page may include a reference to the external style sheet file inside the <link> element. 
    The <link> element goes inside the <head>  -->
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" /> -->
    <!-- -->
    <!-- Latest compiled and minified CSS for BOOTSTRAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <!-- -->
    <!-- linking a local stylesheet file via flask -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
        /*CSS reset settings here*/
        *{
            /* margin: 0px;
            padding: 0px; */
            outline: 1px dotted red;
        }
        #wrapper{ 
            /* height: auto; */
            /* width: auto; */
            /* margin: auto; */
            /* test-align: center; */
        }
        .required { color: red; margin-left: 5px; }
    </style>

    <script type="text/javascript">
        $(function () {
            $('#datepicker').datepicker();
        });
    </script>

</head>
<body>

    <div id="wrapper" class="wrapper">

        <!-- <h1>Hello, world!</h1>

        <!-- linking an image -->
        <!-- <img src="{{ url_for('static', filename='img/my_img.png') }}"> -->

        <h2>COMMENT, SEND MESSAGE, LOGIN, OR REGISTER NEW USER</h2>

        <!-- <h5>Enter a Valid(Any) Email!</h5> -->

        {% with messages = get_flashed_messages(category_filter=["all"]) %}
          {% if messages %}
            {% for message in messages %}
              <p class="required">{{message}}</p>
            {% endfor %}
          {% endif %}
        {% endwith %}
      

        <!-- https://getbootstrap.com/docs/4.0/components/forms/ -->

        <form action='result' method='post'>

            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="inputEmail4">Email<abbr class="required" title="required">*</abbr></label>
                    <input name="email" type="email" class="form-control" id="inputEmail4" placeholder="Email"  value="{{session['email']}}">
                    {% with messages = get_flashed_messages(category_filter=["email"]) %}
                        {% if messages %}
                            {% for message in messages %}
                                <p class="required">{{ message }}</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
                <div class="form-group col-md-4">
                    <label for="inputPassword4">Password<abbr class="required" title="required">*</abbr></label>
                    <input name="password" type="password" class="form-control" id="inputPassword4" placeholder="Password">
                    {% with messages = get_flashed_messages(category_filter=["password"]) %}
                        {% if messages %}
                            {% for message in messages %}
                                <p class="required">{{ message }}</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
                <div class="form-group col-md-4">
                    <label for="inputPasswordConfirm4">Confirm Password<abbr class="required" title="required">*</abbr></label>
                    <input name="passwordconfirm" type="password" class="form-control" id="inputPasswordConfirm4" placeholder="Re-enter Password">
                    {% with messages = get_flashed_messages(category_filter=["passwordconfirm"]) %}
                        {% if messages %}
                            {% for message in messages %}
                                <p class="required">{{ message }}</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="inputPhone4">Phone</label>
                    <input name="phone" type="tel" class="form-control" id="inputPhone4" placeholder="1-(555)-555-5555">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputTwitter4">Twitter</label>
                    <input name="twitter" type="text" class="form-control" id="inputTwitter4" placeholder="@greatcoder77">
                </div>
                <div class="form-group col-md-4 input-group date" data-provide="datepicker">
                    <label for="inputDOB4">Date of Birth<abbr class="required" title="required">*</abbr></label>
                    <!-- <input name="dob" type="text" class="form-control" id="inputDOB4" placeholder="01/01/1970" value="{{session['dob']}}"> -->
                    <!-- <div class="input-group date" data-provide="datepicker"> -->
                        <input name="dob" type="text" class="form-control" id="inputDOB4" placeholder="01/01/1970" value="{{session['dob']}}">
                        <div class="input-group-addon">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-th">                                    
                                </i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <fieldset class="form-group">
                <legend>Preferred Contact Method</legend>
                <!-- NOTE: 'name' has to be the same for all grouped radios to work -->
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="contact" id="contactemail" value="email" checked>
                    <label for="contactemail" class="form-check-label">Email</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="contact" id="contactphone" value="phone">
                    <label for="contactphone" class="form-check-label">Phone</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="contact" id="contacttwitter" value="twitter">
                    <label for="contacttwitter" class="form-check-label">Twitter</label>
                </div>
                <div class="form-check disabled">
                    <input type="radio" class="form-check-input" name="contact" id="contactnone-troll" value="none" disabled>
                    <label for="contactnone-troll" class="form-check-label">None (disabled HAHA!)</label>
                </div>
            </fieldset>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputNameFirst">First Name<abbr class="required" title="required">*</abbr></label>
                    <input name="namefirst" type="text" class="form-control" id="inputNameFirst" placeholder="First Name" value="{{session['namefirst']}}">
                    {% with messages = get_flashed_messages(category_filter=["namefirst"]) %}
                        {% if messages %}
                            {% for message in messages %}
                                <p class="required">{{ message }}</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
                <div class="form-group col-md-6">
                    <label for="inputNameLast">Last Name<abbr class="required" title="required">*</abbr></label>
                    <input name="namelast" type="text" class="form-control" id="inputNameLast" placeholder="Last Name" value="{{session['namelast']}}">
                    {% with messages = get_flashed_messages(category_filter=["namelast"]) %}
                        {% if messages %}
                            {% for message in messages %}
                                <p class="required">{{ message }}</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
            </div>

            <div class="form-group">
                <label for="inputAddress1">Address 1</label>
                <input name="address1" type="text" class="form-control" id="inputAddress1" placeholder="1234 Main St">
            </div>

            <div class="form-group">
                <label for="inputAddress2">Address 2</label>
                <input name="address2" type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputCity">City</label>
                    <input name="city" type="text" class="form-control" id="inputCity" placeholder="My City">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputState">State</label>
                    <select name="state" id="inputState" class="form-control">
                        <option value="wa" selected>Washington</option>
                        <option value="other">other</option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label for="inputZip">Zip/Postal Code</label>
                    <input name="zip" type="text" class="form-control" id="inputZip" placeholder="123456">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputLocation">Dojo Location</label>
                    <select name="location" id="inputLocation" class="form-control">
                        <option value="seattle" selected>[Seattle]</option>
                        <option value="dallas" {% if session['location']=='dallas' %} selected {% endif %}>Dallas</option>
                        <option value="sanjose" {% if session['location']=='sanjose' %} selected {% endif %}>San Jose</option>
                        <option value="canuckistan"{% if session['location']=='canuckistan' %} selected {% endif %}>Quebec</option>
                        <option value="warzone"{% if session['location']=='warzone' %} selected {% endif %}>Tikrit</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputLanguage">Language</label>
                    <select name="language" id="inputLanguage" class="form-control">
                        <option value="cs" selected>[C#]</option>
                        <option value="cpp" {% if session['language']=='cpp' %} selected {% endif %}>C++</option>
                        <option value="py" {% if session['language']=='py' %} selected {% endif %}>Python</option>
                        <option value="js" {% if session['language']=='js' %} selected {% endif %}>JavaScript</option>
                        <option value="r" {% if session['language']=='r' %} selected {% endif %}>R</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input name="subscribeGroup" class="form-check-input" type="checkbox" id="subscribeGroup" checked>
                    <label class="form-check-label" for="subscribeGroup">Subscribe to Group Messaging</label>
                    <br>
                    <input name="subscribeMail" class="form-check-input" type="checkbox" id="subscribeMail" checked>
                    <label class="form-check-label" for="subscribeMail">Subscribe to Mailing List</label>
                </div>
            </div>
            <div class="form-group">
                <label for="comment">Comment</label>
                <textarea name="comment" class="form-control" rows="5" id="comment">{{session['comment']}}</textarea>
            </div>

            <!-- <input type='submit' value='Cancel' class="btn btn-dark"> -->
            <input type='submit' value='Reset' class="btn btn-danger" name="Reset">
            <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
            <input type='submit' value='Submit' class="btn btn-primary">
        </form>

        
        <!-- https://developer.mozilla.org/en-US/docs/Learn/HTML/Forms/How_to_structure_an_HTML_form -->

        <!-- <form action='result' method='post'>
            <div>
                <label for="username">Username: <abbr class="required" title="required">*</abbr></label>
                <input id="username" type="text" name="username">
            </div>
            <label for="name">Name:</label>
            <input type='text' name='name'>
            <br>
            <label for="email">Email: </label>
            <input type='text' name='email'>
            <br>
            <label for="phone">Phone: </label>
            <input type='text' name='phone'>
            <br>
            <label for="comment">Comment: </label>
            <textarea name='comment'></textarea>
            <br>
            <input type='checkbox' name='subscribe' value='yes'>
            <label for="subscribe">Subscribe to Mailing List</label>
            <fieldset name="contact_fieldset">
                <legend>Preferred Contact Method:</legend>
                <input type="radio" name="contact" id="contact_email" value="email">
                <label for="contact_email">Email</label>
                <br>
                <input type='radio' name='contact' id='contact_phone' value='phone'>
                <label for="contact_phone">Phone</label>
            </fieldset>
            <label for="language">Language:</label>
            <select name="language">
                <option value="english">English</option>
                <option value="hindi">Hindi</option>
                <option value="arabic">Arabic</option>
                <option value="french">French</option>
                <option value="russian">Russian</option>
            </select>
            <br>
            <label for="location">Dojo Location:</label>
            <select name="location">
                <option value="seattle">Seattle</option>
                <option value="dallas">Dallas</option>
                <option value="sanjose">San Jose</option>
                <option value="canuckistan">Quebec</option>
                <option value="warzone">Tikrit</option>
            </select>
            <hr>
            <input type='submit' value='Submit'>
        </form> -->


        <!-- Optional JavaScript -->
        <!-- Placing scripts in external files has some advantages:
        - It separates HTML and code
        - It makes HTML and JavaScript easier to read and maintain
        - Cached JavaScript files can speed up page loads -->
        <!-- Placing scripts at the bottom of the <body> element improves the display speed 
        because script compilation slows down the display.     -->
        <!-- -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <!-- popper -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
        <!-- -->
        <!-- linking a local javascript file via flask -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>

    </div> <!-- end wrapper -->

</body>
</html>

