{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SDInfo [Trucks]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'importer/css/main.css' %}" />

    <style>

    </style>

</head>
<body>

    <div class="container-fluid">
        <!-- <span class="navbar-brand mb-0">{{thisuser.name}}</span>             -->
        <a class="btn btn-sm btn-outline-danger" href="/logout/" role="button">Logout</a>
        <a class="btn btn-sm btn-outline-dark" href="/myaccount/{{thisuser.id}}/edit/" role="button">{{thisuser.name}}</a>
        <a class="btn btn-sm btn-outline-primary" href="/main/" role="button">Main Menu</a>
        <a class="btn btn-sm btn-outline-success" href="/accounts/" role="button">Accounts</a>
        <a class="btn btn-sm btn-outline-success" href="/trucks/" role="button">Trucks</a>
        <a class="btn btn-sm btn-outline-success" href="/deliveries/" role="button">Deliveries</a>
        <a class="btn btn-sm btn-outline-dark" href="/import/" role="button">Import Data</a>
        <div class="bottom"></div> 
    </div>            
        
    <div class="container-fluid ">
        <div class="row content">
            <h2>Trucks: [{{alltrucks.count}}]</h2>
        </div>
    </div>

    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    
    {% if alltrucks %}
    <table class="table-striped table-bordered table-condensed">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Truck Number</th>
            <th scope="col">Description</th>
            <th scope="col">Deliveries</th>
            <th scope="col">Last Inspected</th>
            <th scope="col">Tank Inspected</th>
          </tr>
        </thead>
        <tbody>
        {% for t in alltrucks %}
        <tr>
            <td><a href="/truck/{{t.id}}/view/">{{ t.number }}</a></td>
            <td><a href="/truck/{{t.id}}/view/">{{ t.description }}</a></td>
            {% if t.deliveries.count != 0 %}
            <td><a href="/truck/{{t.id}}/view/#deliveries">{{ t.deliveries.count }}</a></td>
            {% else %}
            <td>0</td>
            {% endif %}
            <td>{{ t.truckinspectiondate|date:"m/d/y" }}</td>
            <td>{{ t.tankinspectiondate|date:"m/d/y" }}</td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
      {% endif %}



    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

</body>
</html>
