# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
bcrypt==3.1.6
ca-certificates==2018.4.16
certifi==2019.3.9
cffi==1.12.2
django==2.1.7
libffi==3.2.1
ncurses==5.9
openssl==1.0.2o
pip==19.0.3
pycparser==2.19
python==3.6.5
pytz==2018.9
readline==7.0
setuptools==40.8.0
six==1.12.0
sqlite==3.20.1
tk==8.6.7
wheel==0.33.1
xz==5.2.3
zlib==1.2.11
