<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Checkerboard Instrucions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        span {
            font-weight: 700;
        }
    </style>
</head>
<body>

    <h1>Assignment: Checkerboard</h1>
    <h3>Objectives:</h3>
    <ul>
        <li>Continue to learn how to pass information from the url to the route</li>
        <li>Get comfortable passing information from the route to the template</li>
        <li>Understand how to use for loop properly in the template</li>
        <li>Recognize the value of creating a html/css first and then adding logic/code</li>
    </ul>
    
    <p>Write a program that generates an HTML page that looks like a checkerboard.  </p>
    <p>For this assignment, you're allowed to use &lt;table&gt; if you want.</p>  
    <p>You could use &lt;div&gt; if desired.</p>
    <p>(Note: During Web Fundamentals, we discouraged you from using &lt;table&gt; as we 
    didn't want you to use &lt;table&gt; to position different contents of your website on 
    different parts of the table.  For this assignment however, you are allowed to use &lt;table&gt;.)</p>
    
    <p>Your program should have the following output:</p>
    
    <span>http://localhost:5000</span> should display 8 by 8 checkerboard<br>
    
    <span>http://localhost:5000/(x)/(y)</span> should display x by y checkerboard.<br>  

    <p>
        For example <span>http://localhost:5000/10/10</span> should display 10 by 10 checkerboard.
    </p>
    <p>
        Before you pass x or y to Jinja, please remember to convert it to integer first 
        (so that you can use x or y in a for loop).
    </p>
    <p>
        Video Demo - please watch this after you've worked on the assignment for 45 minutes.  
        If you watch this video without first struggling on your own to do this assignment, 
        this video won't add so much value for you.  Please first spend 45 minutes to complete 
        the assignment on your own. After you've spent 45 minutes on your own, then please 
        watch this video.  Again please watch after you've first spent 45 minutes on your 
        own doing the assignment.
    </p>

</body>
</html>

